@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\000037}}
.red-light {
  color: #e57373;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\000037}}
.red-light-bg {
  background: #e57373;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\000038}}
.red {
  color: #f44336;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\000038}}
.red-bg {
  background: #f44336;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\000039}}
.red-dark {
  color: #d32f2f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\000039}}
.red-dark-bg {
  background: #d32f2f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000310}}
.red-accent {
  color: #ff5252;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000310}}
.red-accent-bg {
  background: #ff5252;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000318}}
.pink-light {
  color: #f06292;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000318}}
.pink-light-bg {
  background: #f06292;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000319}}
.pink {
  color: #e91e63;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000319}}
.pink-bg {
  background: #e91e63;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000320}}
.pink-dark {
  color: #c2185b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000320}}
.pink-dark-bg {
  background: #c2185b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000321}}
.pink-accent {
  color: #ff4081;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000321}}
.pink-accent-bg {
  background: #ff4081;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000329}}
.purple-light {
  color: #ba68c8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000329}}
.purple-light-bg {
  background: #ba68c8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000330}}
.purple {
  color: #9c27b0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000330}}
.purple-bg {
  background: #9c27b0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000331}}
.purple-dark {
  color: #7b1fa2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000331}}
.purple-dark-bg {
  background: #7b1fa2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000332}}
.purple-accent {
  color: #e040fb;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000332}}
.purple-accent-bg {
  background: #e040fb;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000340}}
.deep-purple-light {
  color: #9575cd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000340}}
.deep-purple-light-bg {
  background: #9575cd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000341}}
.deep-purple {
  color: #673ab7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000341}}
.deep-purple-bg {
  background: #673ab7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000342}}
.deep-purple-dark {
  color: #512da8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000342}}
.deep-purple-dark-bg {
  background: #512da8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000343}}
.deep-purple-accent {
  color: #7c4dff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000343}}
.deep-purple-accent-bg {
  background: #7c4dff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000351}}
.indigo-light {
  color: #7986cb;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000351}}
.indigo-light-bg {
  background: #7986cb;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000352}}
.indigo {
  color: #3f51b5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000352}}
.indigo-light-bg {
  background: #3f51b5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000353}}
.indigo-dark {
  color: #303f9f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000353}}
.indigo-light-bg {
  background: #303f9f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000354}}
.indigo-accent {
  color: #536dfe;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000354}}
.indigo-light-accent-bg {
  background: #536dfe;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000362}}
.blue-light {
  color: #64b5f6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000362}}
.blue-light-bg {
  background: #64b5f6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000363}}
.blue {
  color: #2196f3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000363}}
.blue-bg {
  background: #2196f3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000364}}
.blue-dark {
  color: #1976d2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000364}}
.blue-dark-bg {
  background: #1976d2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000365}}
.blue-accent {
  color: #448aff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000365}}
.blue-accent-bg {
  background: #448aff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000373}}
.light-blue-light {
  color: #4fc3f7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000373}}
.light-blue-light-bg {
  background: #4fc3f7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000374}}
.light-blue {
  color: #03a9f4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000374}}
.light-blue-light-bg {
  background: #03a9f4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000375}}
.light-blue-dark {
  color: #0288d1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000375}}
.light-blue-dark-bg {
  background: #0288d1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000376}}
.light-blue-accent {
  color: #40c4ff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000376}}
.light-blue-accent-bg {
  background: #40c4ff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000384}}
.cyan-light {
  color: #4dd0e1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000384}}
.cyan-light-bg {
  background: #4dd0e1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000385}}
.cyan {
  color: #00bcd4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000385}}
.cyan-bg {
  background: #00bcd4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000386}}
.cyan-dark {
  color: #0097a7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000386}}
.cyan-dark-bg {
  background: #0097a7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000387}}
.cyan-accent {
  color: #18ffff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000387}}
.cyan-accent-bg {
  background: #18ffff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000395}}
.teal-light {
  color: #4db6ac;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000395}}
.teal-light-bg {
  background: #4db6ac;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000396}}
.teal {
  color: #009688;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000396}}
.teal-bg {
  background: #009688;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000397}}
.teal-dark {
  color: #00796b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000397}}
.teal-dark-bg {
  background: #00796b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000398}}
.teal-accent {
  color: #64ffda;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\0000398}}
.teal-accent-bg {
  background: #64ffda;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003106}}
.green-light {
  color: #81c784;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003106}}
.green-light-bg {
  background: #81c784;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003107}}
.green {
  color: #4caf50;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003107}}
.green-bg {
  background: #4caf50;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003108}}
.green-dark {
  color: #388e3c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003108}}
.green-dark-bg {
  background: #388e3c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003109}}
.green-accent {
  color: #69f0ae;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003109}}
.green-accent-bg {
  background: #69f0ae;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003117}}
.light-green-light {
  color: #aed581;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003117}}
.light-green-light-bg {
  background: #aed581;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003118}}
.light-green {
  color: #8bc34a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003118}}
.light-green-light-bg {
  background: #8bc34a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003119}}
.light-green-dark {
  color: #689f38;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003119}}
.light-green-dark-bg {
  background: #689f38;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003120}}
.light-green-accent {
  color: #b2ff59;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003120}}
.light-green-accent-bg {
  background: #b2ff59;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003128}}
.lime-light {
  color: #dce775;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003128}}
.lime-light-bg {
  background: #dce775;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003129}}
.lime {
  color: #cddc39;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003129}}
.lime-bg {
  background: #cddc39;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003130}}
.lime-dark {
  color: #afb42b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003130}}
.lime-dark-bg {
  background: #afb42b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003131}}
.lime-accent {
  color: #eeff41;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003131}}
.lime-accent-bg {
  background: #eeff41;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003139}}
.yellow-light {
  color: #fff176;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003139}}
.yellow-light-bg {
  background: #fff176;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003140}}
.yellow {
  color: #ffeb3b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003140}}
.yellow-bg {
  background: #ffeb3b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003141}}
.yellow-dark {
  color: #fbc02d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003141}}
.yellow-dark-bg {
  background: #fbc02d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003142}}
.yellow-accent {
  color: #ffff00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003142}}
.yellow-accent-bg {
  background: #ffff00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003150}}
.amber-light {
  color: #ffd54f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003150}}
.amber-light-bg {
  background: #ffd54f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003151}}
.amber {
  color: #ffc107;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003151}}
.amber-bg {
  background: #ffc107;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003152}}
.amber-dark {
  color: #ffa000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003152}}
.amber-dark-bg {
  background: #ffa000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003153}}
.amber-accent {
  color: #ffd740;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003153}}
.amber-accent-bg {
  background: #ffd740;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003161}}
.orange-light {
  color: #ffb74d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003161}}
.orange-light-bg {
  background: #ffb74d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003162}}
.orange {
  color: #ff9800;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003162}}
.orange-bg {
  background: #ff9800;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003163}}
.orange-dark {
  color: #f57c00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003163}}
.orange-dark-bg {
  background: #f57c00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003164}}
.orange-accent {
  color: #ffab40;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003164}}
.orange-accent-bg {
  background: #ffab40;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003172}}
.deep-orange-light {
  color: #ff8a65;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003172}}
.deep-orange-light-bg {
  background: #ff8a65;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003173}}
.deep-orange {
  color: #ff5722;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003173}}
.deep-orange-bg {
  background: #ff5722;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003174}}
.deep-orange-dark {
  color: #e64a19;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003174}}
.deep-orange-dark-bg {
  background: #e64a19;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003175}}
.deep-orange-accent {
  color: #ff6e40;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003175}}
.deep-orange-accent-bg {
  background: #ff6e40;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003183}}
.brown-light {
  color: #a1887f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003183}}
.brown-light-bg {
  background: #a1887f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003184}}
.brown {
  color: #795548;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003184}}
.brown-bg {
  background: #795548;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003185}}
.brown-dark {
  color: #5d4037;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003185}}
.brown-dark-bg {
  background: #5d4037;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003186}}
.brown-accent {
  color: #3e2723;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003186}}
.brown-accent-bg {
  background: #3e2723;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003194}}
.grey-light {
  color: #e0e0e0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003194}}
.grey-light-bg {
  background: #e0e0e0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003195}}
.grey {
  color: #9e9e9e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003195}}
.grey-bg {
  background: #9e9e9e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003196}}
.grey-dark {
  color: #616161;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003196}}
.grey-dark-bg {
  background: #616161;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003197}}
.grey-accent {
  color: #212121;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003197}}
.grey-accent-bg {
  background: #212121;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003205}}
.blue-grey-light {
  color: #90a4ae;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003205}}
.blue-grey-light-bg {
  background: #90a4ae;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003206}}
.blue-grey {
  color: #607d8b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003206}}
.blue-grey-bg {
  background: #607d8b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003207}}
.blue-grey-dark {
  color: #455a64;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003207}}
.blue-grey-dark-bg {
  background: #455a64;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003208}}
.blue-grey-accent {
  color: #263238;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/colours\.scss}line{font-family:\00003208}}
.blue-grey-accent-bg {
  background: #263238;
}

/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\0000311}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\0000330}}
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\0000341}}
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\0000350}}
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\0000364}}
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\0000374}}
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\0000386}}
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\0000394}}
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003108}}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003117}}
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003125}}
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003134}}
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003142}}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003152}}
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003161}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003173}}
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003181}}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003189}}
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003197}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003205}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003209}}
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003221}}
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003229}}
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003241}}
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003253}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003264}}
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003275}}
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003289}}
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003301}}
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003314}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003326}}
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003336}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003348}}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003360}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003369}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003380}}
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/modules\/_normalize\.scss}line{font-family:\00003393}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------------------------*\
	Main
\*--------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/base\/_main\.scss}line{font-family:\000035}}
html {
  overflow-y: scroll;
  min-height: 100%;
}

/*--------------------------------------*\
  Type
\*--------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/base\/_type\.scss}line{font-family:\000036}}
h1, .alpha {
  font-size: 36px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/base\/_type\.scss}line{font-family:\0000310}}
h2, .beta {
  font-size: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/base\/_type\.scss}line{font-family:\0000314}}
h3, .gamma {
  font-size: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/base\/_type\.scss}line{font-family:\0000318}}
h4, .delta {
  font-size: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/base\/_type\.scss}line{font-family:\0000322}}
h5, .epsilon {
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/base\/_type\.scss}line{font-family:\0000326}}
h6, .zeta {
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/gallium\/css\/sass\/components\/main\.scss}line{font-family:\000031}}
.main {
  min-height: 40vh;
}

/*# sourceMappingURL=Gallium.css.map */
