//--------------------------------------*\
//  Defaults
//--------------------------------------*/

// Black & white
$black:           #2b2b2b;
$white:           #ffffff;


//--------------------------------------*\
// Base Type
//--------------------------------------*/

// Define font stacks
$primary-font:   -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font:  -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Base font sizes
$base-font-size:    16px!default;
$base-line-height:  24px!default;

// Heading sizes
$h1-size:           36px!default;
$h2-size:           30px!default;
$h3-size:           24px!default;
$h4-size:           20px!default;
$h5-size:           16px!default;
$h6-size:           14px!default;


//Borders
$small-border:		2px!default;
$medium-border:		5px!default;
$large-border:		8px!default;


//--------------------------------------*\
// Project Globals
//--------------------------------------*/

// Border radius
$global-radius:     6px;
