$white:#ffffff;
$black:#000000;
$dark:#2b2b2b;
$light:#f1f1f2;

.white{ color:$white; } .white-bg{ background:$white; }
.black{ color:$black; } .black-bg{ background:$black; }
.dark{ color:$dark; } .dark-bg{ background:$dark; }
.light{ color:$light; } .light-bg{ background:$light; }
