.heading{
	background:$color-primary;
	min-height:15vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	border-bottom:$medium-border solid #F89142;
	padding:$default-padding;
}

.heading>h1,h2,h3,h4,h5,h6{
	margin:0;
	color:$color-primary-text;
}

.heading>h1>small{
	font-size:$small-font-size;
	margin-left:$small-margin;
}
