body{
	background:$light;
	margin:0;
	margin-bottom: 75px;
	padding:0;
	color:$dark;
	font-family: $font-family;
}

::selection{
	background:$light;
	color:$dark;
}

::-moz-selection{
	background:$light;
	color:$dark;
}
