.btn{
    padding:0.5em 0.75em;
    background:$light;
    border:2px solid $dark;
    color:$dark;
}

.btn:hover{
    background: $dark;
    color:$light;
}

.btn{
    &.small{
        padding:0.25em 0.5em; 
    }
    &.large{
        padding:1em 2em;
    }    
}