footer{
    padding:1em;
    position: absolute;
    right: 0;
    margin-top: 75px;
    left: 0;
    &.fixed{
        position: fixed;
        width:100%;
    }
    &.dark{
        background:$dark;
        color:$light;
    }
    &.light{
        background: $light;
        color:$dark;
    }
}