.gallery{
    padding:1em;
    background: $dark;
    width:50%;
    margin: auto;
}

.current img{
    width: 100%;
}

.gallery-images img{
    width: 100%;
    opacity: 1;
}

.gallery-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.325em;
}

@media  screen and (max-width: 800px) {
    .gallery{
        width: 90%;
        margin: auto;
    }
    .gallery-images{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.325em;
    }
}