.gallery{
    padding:1em;
    background: $dark;
    width:50%;
    margin: 1em auto 1em auto;
    display: grid;
    grid-gap: 0.325em;
    &.left-align{
        background: red;
        grid-template-areas:     
    "main-image main-image other-images other-images"
    "main-image main-image other-images other-images";
    }
}

.current img{
    width: 100%;
}

.gallery-images img{
    width: 100%;
    opacity: 1;
}

.gallery-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.325em;
}

@media  screen and (max-width: 800px) {
    .gallery{
        width: 90%;
        margin: auto;
    }
    .gallery-images{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.325em;
    }
}