.fullwidth{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    img{
       width: 100%;
    }
    &.letterbox{
        height: 15.5em;
        overflow: hidden;
        display:  flex;
        position:  relative;
        img{        
            width:100%;
        }
        h1,h2,h3,h4,h5{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 50%;
            height: 30%;
            margin: auto;
            text-align: center;
        }
    }
}

.letterbox{
    height: 15.5em;
    overflow: hidden;
    img{        
        width:100%;
    }    
}

.full{
    img{
        width:100%;
    }    
}