.fullwidth{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    img{
       width: 100%;
    }
    &.letterbox{
        height: 15.5em;
        overflow: hidden;
        img{        
            width:100%;
        }    
    }
}

.letterbox{
    height: 15.5em;
    overflow: hidden;
    img{        
        width:100%;
    }    
}

.full{
    img{
        width:100%;
    }    
}