.fullwidth{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    img{
       width: 100%;
    }
    &.letterbox{
        height: 15.5em;
        overflow: hidden;
        display:  flex;
        position:  relative;
        align-items:  center;
        justify-content:  center;
        img{        
            width:100%;
        }
        h1,h2,h3,h4,h5{
            position:  absolute;
            margin:  0;
        }
    }
}

.letterbox{
    height: 15.5em;
    overflow: hidden;
    img{        
        width:100%;
    }    
}

.full{
    img{
        width:100%;
    }    
}