.section{
    background: $faded;
    color:$light;
    border-radius:0.235em;
    padding: 1em 1em;
    margin: 1em 0;

    h1,h2,h3,h4,h5{
        margin:0; 
    }
    &.dark{
        background: $dark;
        color:$light;
    }
    &.light{
        background:none;
        color: $faded;
    }
}