.fullwidth-table{
    width: 100%;
    border-collapse: collapse;
    td, th {
        border: 1px solid $faded;
        text-align: left;
        padding: 8px;
        transition: 200ms padding ease-in-out;
    }
}

.display-row{
    svg{
        width: 1.5em;
        transition: 200ms all ease-in-out;
        cursor: pointer;
        g{
            line{                
                stroke: $dark;
            }
        }
    }
}

.acc-respond{
    td, th{
        padding: 16px;
        transition: 200ms all ease-in-out;
    } 
    svg{
        width: 1.5em;
        transition: 200ms all ease-in-out;
        cursor: pointer;
        g{
            line{                
                stroke: $faded;
            }
            rect{
                stroke: $faded;
            }
        }
    }  
}